.header-logged-in {
  background-image: linear-gradient(#404445, #2a2c2e) !important;
}

.header {
  text-shadow: none !important;
}

#header {
  background-image: linear-gradient(#404445, #2a2c2e) !important;
}

.header-logo-wordmark {
  color: #f5f5f5 !important;
}

.header-logo-wordmark:hover {
  color: #4183c4 !important;
}

.header .command-bar:not(.command-bar-focus) input[type="text"] {
  border-color: #000 !important;
  box-shadow: none !important;
}

.header .octicon-question {
  text-shadow: none !important;
}
.header .header-logo-invertocat .octicon-mark-github {
  color: #f5f5f5 !important;
}
.header .header-logo-invertocat .octicon-mark-github:hover {
  color: #4183c4 !important;
}
.header #user-links > li button {
  color: #f5f5f5 !important;
}

.header #user-links > li button:hover {
  color: #4183c4 !important;
}

.header #user-links>li>a {
  color: #f5f5f5 !important;
}

.header #user-links>li>a:hover {
  color: #4183c4 !important;
}
.header .divider-vertical { 
  background-color: #2c2e30 !important;
  border-right: 1px solid #3e4042 !important;
}

.header-nav-link {
  color: #f5f5f5 !important;
}

.header-nav-link:hover {
  color: #4183c4 !important;
}

.header .header-nav .active .octicon-plus {
  color: #4183c4 !important;
}

.scope-badge {
  color: black !important;
}

.focus > .scope-badge {
  color: #4183c4 !important;
}

.dropdown-menu .octicon {
  color: black !important;
}

.dropdown-menu li:hover .octicon {
    color: #f5f5f5 !important;
}

.top-nav li a {
  color: #f5f5f5 !important;
}

.top-nav li a:hover {
  color: #4183c4 !important;
}

.top-nav li button {
  color: #f5f5f5 !important;
}

.top-nav li > button:hover {
  color: #4183c4 !important;
}

.top-nav li button > .dropdown-caret {
  border-color: #f5f5f5 transparent transparent transparent !important;
}

.top-nav li button:hover > .dropdown-caret {
  border-color: #4183c4 transparent transparent transparent !important;
}

.site-logo > a {
  background-image: none !important;
  font-size: 21px !important;
  color: white !important;
  font-weight: bolder;
  text-indent: 0% !important;
  width: 100% !important;
}

.top-nav .dropdown-menu > a {
  color: black !important;
}

.top-nav .dropdown-menu > a:hover {
  color: #f5f5f5 !important;
}
